{% extends "index.html" %}
{% block page_title %}
Change Password
{% endblock page_title %}

{% block h1_banner %}
Change Password
{% endblock h1_banner %}
{% block p_banner %}{% endblock p_banner %}

{% block section_title %}
<h2 class="mt-0">
    Introduce your new password
</h2>
{% endblock section_title %}

{% block div_section %}
<form action={% url "change_password" %} method="post">
    {% csrf_token %}
    {{form}}
    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit" style="margin-top:10px">Confirm</button></div>
</form>
{% endblock div_section %}