{% extends "index.html" %}
{% load static %}
{% block page_title %}
About Me
{% endblock page_title %}

{% block header_masthead %}
<header class="masthead" style="padding-top:10rem;padding-bottom:calc(10rem - 4.5rem);background:linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('{% static "assets/img/bg-about-me.jpg" %}');background-position: center;background-repeat: no-repeat;background-attachment: scroll;background-size: cover;">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">
                    Camila Lorena Conte
                    <h2 class="text-white">Software Developer Jr.</h2>
                </h1>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <a href="https://github.com/CamilaConte" target="_blank"><i class="bi bi-github text-white mx-1" style="font-size: 2rem;"></i></a>
                <a href="https://www.linkedin.com/in/c-conte/" target="_blank"><i class="bi bi-linkedin text-white mx-1" style="font-size: 2rem;"></i></a>
            </div>
        </div>
    </div>
</header>
{% endblock header_masthead %}

{% block section_title %}
<h2 class="mt-0">
    ¡Hola!
</h2>
{% endblock section_title %}

{% block div_section %}
Como ya sabrán, mi nombre es Camila. Tengo 22 años y hace 3 que comencé mi camino en la programación. Arranqué con un curso en CoderHouse sobre Desarrollo Web y luego me decidi a encaminarme hacia el backend.
La idea del proyecto me surgió porque en otra carrera habia hecho un backend en Java para una clinica odontológica y decidí basarme en eso, de manera más simplificada.
¡Gracias por visitar la página!
{% endblock div_section %}

{% block phone %}{% endblock phone %}